@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  font-family: 'Montserrat';
  background: #082032;
  height: 100%;
}

.container button {
  border: none;
  background: none;
}

.container,
.card {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card {
  background-color: #FF4C29;
  border-radius: 10px;
  color: #000;
  padding: 2rem 0;
  width: 40%;
}

.card h1 {
  color: wheat;
  font-family: 'Source Code Pro', monospace;
  font-size: 3rem;
  margin: 0 0 20px;
}

.update-btn:hover {
  cursor: pointer;
}

.btn {
  display: none;
}

.list-container {
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 10px 5px 0px;
  width: 80%;
}

.list-container li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.list-container li p {
  color: darkslategray;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  padding: 10px 0px 10px 10px;
  width: 75%;
}

.list-container li form:first-child {
  align-items: baseline;
  display: none;
  justify-content: space-between;
  width: 83%;
}

.list-container li form:first-child input {
  border: none;
  font-family: 'Montserrat';
  font-size: 1rem;
  padding-left: 10px;
}

.list-container li form:first-child button {
  color: #49d449;
}

.list-container li .cancel-btn {
  color: #f78a8a;
}

.list-container li div {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  width: 25%;
}

.list-container li div button {
  padding: 5px;
  border: wheat solid 2px;
  border-radius: 50%;
  background: #072031;
}

.list-container li div button i {
  color: white;
  font-size: 1rem;
  padding: 3px;
}

.add-form {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: grey 1px solid;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.add-form input {
  background: none;
  border: none;
  font-size: 1.4rem;
  padding: 10px 0 10px 10px;
  width: 80%;
}

.add-form button {
  padding: 5px;
  border: wheat solid 2px;
  border-radius: 50%;
  background: #072031;
  color: white;
  font-size: 1.2rem;
  margin-right: 1px;
  padding: 7px;
  width: 50px;
}
